body {
  min-height: 100%;
  overflow-x: hidden;
  background-color: #f5f5f5;
}

section {
  margin-top: 5rem;
  transition: all 0.3s ease-in-out;
}

.hamburger-open {
  margin-top: 15vh;
}

.menu-hamburger-content {
  margin-top: 10px;
}

/* Filtre sua duvida */
.keyword-container {
  width: 100vw;
  background-color: var(--azul-base);
  min-height: 250px;
}

.keyword-content h1 {
  font-size: 4rem;
  font-weight: 500;
  color: var(--prata-base);
  text-align: center;
}

#formulary {
  display: flex;
  align-items: center;
  gap: 10px;
}

#formulary .search-input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border-radius: 12px;
  font-size: 2rem;
  font-weight: 500;
  border: none;
  color: var(--preto-escuro);
  padding: 0rem 5rem;
}

#formulary .search-input::placeholder {
  color: var(--cinza-texto);
}

#formulary .search-input:focus {
  outline: none;
}

.keyword-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.keyword-content h1 {
  margin: 2rem 0;
  font-size: 4rem;
  color: var(--prata-base);
  letter-spacing: 1px;
}

#formulary {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-container {
  width: 35vw;
  height: 6rem;
  border-radius: 10px;
  font-size: 2rem;
  display: flex;
  top: 0;
  position: relative;
  justify-content: center;
}

/* icone dentro do input */
.input-container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  z-index: 99;
}

main {
  width: 100%;
  min-height: 100%;
  justify-content: center;
  overflow: hidden;
}

.spinnerContainer {
  display: none;
}

.spinnerContainer.mostrar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 80vh;
}

.container {
  width: 80%;
  height: 100%;
  padding: 0 2rem;
  max-width: 1000px;
}

.drop {
  transition: transform 0.4s ease-in-out;
}

.drop.rotate {
  transform: rotate(180deg);
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.content a {
  color: var(--vermelho-base);
  font-style: italic;
}

.content p {
  font-size: 2.4rem;
  font-weight: 300;
  color: var(--preto-escuro);
  padding: 0 1rem;
}

.content p:nth-child(2) {
  color: var(--cinza-texto);
  font-size: 2rem;
  margin-top: 5px;
}

.content i {
  color: var(--cinza-fraco);
}

.faq-container {
  margin: 20px 0;
  font-size: 2rem;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.faq-container h2 > i {
  font-size: 25px;
}

.question {
  cursor: pointer;
}

.question-title {
  color: var(--titulos);
  font-size: 3.2rem;
  font-weight: 300;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 5px;
}

.question-title .drop {
  margin-left: 5px;
}

.heart {
  cursor: pointer;
}

.heart-clicked {
  color: var(--vermelho-base) !important;
}

.paginacao {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  font-size: 2rem;
  font-weight: 500;
}

.paginacao.nao-mostrar {
  display: none;
}

.paginacao .pg span {
  color: var(--titulos);
  cursor: pointer;
}

.paginacao .pg span.disabled {
  color: var(--cinza-texto);
  cursor: not-allowed;
}

.paginacao .numeros {
  display: flex;
  gap: 10px;
  color: var(--cinza-texto);
}

.paginacao .numeros .numero {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--cinza-texto);
  border-radius: 6px;
}

.paginacao .numeros .numero.active {
  background-color: var(--vermelho-base);
  color: var(--prata-base);
  border: 1px solid var(--vermelho-base);
}

/*----------------------------------Media---------------------------------- */
@media (max-width: 1000px) {
  /* removendo icone */
  .input-container i {
    display: none;
  }

  /* formulario */
  .keyword-container h1 {
    font-size: 3.5rem;
    margin-top: 30px;
  }

  .keyword-container {
    height: auto;
    align-items: center;
    margin: auto;
  }

  #formulary .search-input {
    min-width: 300px;
    padding: 0 1rem;
  }

  .input-container i {
    display: none;
  }

  .question-title {
    font-size: 2.8rem;
  }

  .content a,
  .content p {
    font-size: 2rem;
  }

  .content p:nth-child(2) {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .question-title {
    font-size: 2.5rem;
  }

  .content a,
  .content p {
    font-size: 1.6rem;
  }

  .content p:nth-child(2) {
    font-size: 1.2rem;
  }

  .faq-container h2 > i {
    font-size: 20px;
  }

  .paginacao {
    font-size: 1.6rem;
  }
}

@media (max-width: 425px) {
  .container {
    width: 95%;
  }

  .question-title {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .container {
    width: 100%;
  }

  .question-title {
    font-size: 1.8rem;
  }

  .content a,
  .content p {
    font-size: 1.4rem;
  }

  .content p:nth-child(2) {
    font-size: 1.2rem;
  }

  .faq-container h2 > i {
    font-size: 16px;
  }

  .paginacao {
    font-size: 1.2rem;
  }
}
