body {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  overflow-x: hidden;
}

/* Filtre sua duvida */
.keyword-container {
  width: 100vw;
  background-color: var(--azul-base);
  height: 240px;
}

.keyword-content {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.keyword-content h1 {
  font-size: 4rem;
  font-weight: 500;
  color: var(--prata-base);
}

#formulary {
  display: flex;
  align-items: center;
  gap: 10px;
}

#formulary #search-input {
  width: 600px;
  height: 60px;
  padding: 0 10px;
  border-radius: 12px;
  border: none;

  font-size: 2rem;
  font-weight: 500;
  color: var(--preto-escuro);
}

#formulary #search-input::placeholder {
  color: var(--cinza-texto);
}

#formulary #search-input:focus {
  outline: none;
}

.keyword-container {
  width: 100vw;
  background-color: #004854;
  display: flex;
  justify-content: center;
  height: 240px;
  margin-top: 150px;
}

.keyword-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyword-content h1 {
  margin: 2rem 0;
  font-size: 4rem;
  color: white;
  letter-spacing: 1px;
}

#formulary {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-container {
  width: 30%;
  border-radius: 10px;
  font-size: 2rem;
  display: flex;
  position: relative;
  justify-content: center;
}

.input-container input {
  min-width: 100%;
  height: 6rem;
  outline: none;
  border-radius: 10px;
  overflow: hidden;
  border: none;
  padding: 0 40rem;
  font-size: 2rem;
}

form i {
  color: black;
  font-size: 25px;
  position: absolute;
  left: 0;
  padding: 16px 0 0 10px;
  color: #262b2d;
  z-index: 99;
}

form button {
  min-width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  background-color: #dadada;
}

main {
  width: 100%;
  min-height: 100%;
  justify-content: center;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 5rem;
  flex: 1;
  min-height: 80vh;
}

.container {
  width: 80%;
  height: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.drop {
  transition: transform 0.4s ease-in-out;
}

.drop.rotate {
  transform: rotate(180deg);
}

.content p {
  font-size: 2.4rem;
  font-weight: 500;
  color: #121313;
  padding: 1rem;
}

.content p:nth-child(2) {
  color: #666666;
  font-size: 2rem;
}

.content i {
  color: #dadada;
}

.faq-container {
  margin: 2rem 0;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 20px;
  padding: 1rem;
}

.faq-container h2 > i {
  font-size: 25px;
}

.question-title {
  color: #004854;
  font-size: 3.2rem;
}

.footer-container {
  background-color: #262b2d;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  overflow: hidden;
  left: 0;
  margin-top: 5rem;
  height: 25vh;
}

.fatec-contact {
  height: 100%;
  /* line-height: 5rem; */
}

.fatec-contact h1 {
  color: #f8f8f8;
  font-size: 4rem;
}

.fatec-contact span {
  color: #fff;
  font-size: 2.4rem;
}

.fatec-contact h2 {
  color: #dadada;
  font-size: 2rem;
}

.fatec-footer-logo {
  display: flex;
  align-items: center;
  /* flex-shrink: 1; */
  /* width: 500px; */
  height: 200px;
}

.fatec-footer-logo img {
  /* width: 100%; */
  height: 100%;
}

.cps-logo-footer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cps-logo-footer .img-1 {
  height: 80px;
  display: flex;
  justify-content: center;
}

.cps-logo-footer img {
  /* width: 60%; */
  /* height: 60%; */
  height: 100%;
}

.heart-clicked {
  color: red !important;
}

/* ---------------------------------------------------------------- */

@media (max-width: 999px) {
  .footer-container {
    flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 1400px) {
  .header-content {
    max-width: 1300px;
  }
  .fatec-footer-logo {
    width: 200px;
  }
}
