body {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  overflow-x: hidden;
}

section {
  margin-top: 5rem;
  transition: all .3s ease-in-out;
}

.hamburger-open {
  margin-top: 15vh;
}

/* Filtre sua duvida */
.keyword-container {
  width: 100vw;
  background-color: var(--azul-base);
  height: 240px;
  z-index: -1;
}

.keyword-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.keyword-content h1 {
  font-size: 4rem;
  font-weight: 500;
  color: var(--prata-base);
}

#formulary {
  display: flex;
  align-items: center;
  gap: 10px;
}

#formulary #search-input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border-radius: 12px;
  font-size: 2rem;
  font-weight: 500;
  border: none;
  color: var(--preto-escuro);
  padding: 0rem 5rem;
}

#formulary #search-input::placeholder {
  color: var(--cinza-texto);
}

#formulary #search-input:focus {
  outline: none;
}

.keyword-container {
  width: 100vw;
  background-color: #004854;
  display: flex;
  justify-content: center;
  height: 240px;
}

.keyword-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyword-content h1 {
  margin: 2rem 0;
  font-size: 4rem;
  color: white;
  letter-spacing: 1px;
}

#formulary {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-container {
  width: 35vw;
  height: 6vh;
  border-radius: 10px;
  font-size: 2rem;
  display: flex;
  top: 0;
  position: relative;
  justify-content: center;
}


/* icone dentro do input */
.input-container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  z-index: 99;
}

main {
  width: 100%;
  min-height: 100%;
  justify-content: center;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 5rem;
  flex: 1;
  min-height: 80vh;
}

.container {
  width: 80%;
  height: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.drop {
  transition: transform 0.4s ease-in-out;
}

.drop.rotate {
  transform: rotate(180deg);
}

.content p {
  font-size: 2.4rem;
  font-weight: 300;
  color: #121313;
  padding: 1rem;
}

.content p:nth-child(2) {
  color: #666666;
  font-size: 2rem;
}

.content i {
  color: #dadada;
}

.faq-container {
  margin: 2rem 0;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 20px;
  padding: 1rem;
}

.faq-container h2>i {
  font-size: 25px;
}

.question-title {
  color: #004854;
  font-size: 3.2rem;
  font-weight: 300;
}

.footer-container {
  background-color: #262b2d;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  overflow: hidden;
  left: 0;
  margin-top: 5rem;
  max-height: 250px;
  padding: 2rem 2rem;
}

.fatec-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  line-height: 2.8rem;
}

.fatec-contact h1 {
  color: #f8f8f8;
}

.fatec-contact span {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.fatec-contact h2 {
  color: #dadada;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.fatec-footer-logo {
  display: flex;
  align-items: center;
  min-height: 100%;
  flex: 1;
  height: 100%;
  justify-content: center;
}

.fatec-footer-logo img {
  max-height: 160px;
}

.cps-logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  max-height: 180px;
  gap: 1rem;
}

.cps-logo-footer .img-1 {
  text-align: center;
  height: 50px;
  width: 100%;
}

.cps-logo-footer .img-2 {
  display: flex;
  justify-content: center;
  width: 100%;
}


.heart-clicked {
  color: red !important;
}

.menu-hamburger-content.show {
  display: block;
}

.menu-hamburger {
  display: none;
}

.menu-hamburger i {
  font-size: 25px;
}

/* ---------------------------------------------------------------- */

@media (max-width: 1000px) {

  /* responsividade do footer */
  .footer-container {
    flex-direction: column;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .fatec-contact {
    line-height: 30px;
  }

  .fatec-contact h1 {
    text-align: center;
  }

  .fatec-contact h2 {
    font-size: 1.6rem;
  }

  .fatec-contact h2 span {
    font-size: 1.6rem;
  }

  .fatec-footer-logo {
    display: none;
  }

  .cps-logo-footer {
    display: none;
  }

  /* removendo icone */
  .input-container i {
    display: none;
  }

  /* responsividade navbar/menu hamburger */
  .login {
    display: none;
  }

  .nav-items {
    display: none;
  }

  .nav-items {
    display: none;
  }

  .menu-hamburger {
    display: block;
    position: relative;
  }

  .menu-hamburger-content {
    display: none;
    position: absolute;
    right: 0;
    width: 30vw;
    min-width: 200px;
    text-align: center;
    border: 0.5px solid black;
    border-radius: 5px;
    background-color: #DADADA;
  }

  .menu-hamburger-content a {
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: .1rem;
    text-decoration: none;
  }

  .menu-hamburger-content a:hover {
    color: #690101
  }

  .menu-hamburger-content a.active {
    background-color: #ddd;
  }

  .header-content {
    justify-content: space-between;
  }

  /* tamanho fonte responsivo */
  .question-title {
    font-size: 2.4rem;
  }

  .content p {
    font-size: 2rem;
  }

  .keyword-content h1 {
    font-size: 3rem;
    font-weight: 500;
  }

  /* formulario */
  .keyword-container h1 {
    font-size: 3.5rem;
    margin-top: 30px;
  }

  .keyword-container {
    height: auto;
    align-items: center;
    margin: auto;
    padding: 20px;
  }

  #formulary #search-input {
    min-width: 300px;
    padding: 0 1rem;
  }

  .input-container i {
    display: none;
  }

}