body {
  min-height: 100%;
  overflow-x: hidden;
}

section {
  margin-top: 5rem;
  transition: all 0.3s ease-in-out;
}

.hamburger-open {
  margin-top: 15vh;
}

/* Filtre sua duvida */
.keyword-container {
  width: 100vw;
  background-color: var(--azul-base);
  min-height: 250px;
}

.keyword-content h1 {
  font-size: 4rem;
  font-weight: 500;
  color: var(--prata-base);
}

#formulary {
  display: flex;
  align-items: center;
  gap: 10px;
}

#formulary #search-input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border-radius: 12px;
  font-size: 2rem;
  font-weight: 500;
  border: none;
  color: var(--preto-escuro);
  padding: 0rem 5rem;
}

#formulary #search-input::placeholder {
  color: var(--cinza-texto);
}

#formulary #search-input:focus {
  outline: none;
}

.keyword-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.keyword-content h1 {
  margin: 2rem 0;
  font-size: 4rem;
  color: var(--prata-base);
  letter-spacing: 1px;
}

#formulary {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-container {
  width: 35vw;
  height: 6rem;
  border-radius: 10px;
  font-size: 2rem;
  display: flex;
  top: 0;
  position: relative;
  justify-content: center;
}

/* icone dentro do input */
.input-container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  z-index: 99;
}

main {
  width: 100%;
  min-height: 100%;
  justify-content: center;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 5rem;
  flex: 1;
  min-height: 80vh;
}

.container {
  max-width: 1300px;
  height: 100%;
  padding: 0 2rem;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.drop {
  transition: transform 0.4s ease-in-out;
}

.drop.rotate {
  transform: rotate(180deg);
}

.content p {
  font-size: 2.4rem;
  font-weight: 300;
  color: var(--preto-escuro);
  padding: 1rem;
}

.content p:nth-child(2) {
  color: var(--cinza-texto);
  font-size: 2rem;
}

.content i {
  color: var(--cinza-fraco);
}

.faq-container {
  margin: 2rem 0;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 20px;
  padding: 1rem;
}

.faq-container h2 > i {
  font-size: 25px;
}

.question-title {
  color: var(--titulos);
  font-size: 3.2rem;
  font-weight: 300;
}

.heart-clicked {
  color: var(--vermelho-base) !important;
}

/*----------------------------------Media---------------------------------- */
@media (max-width: 1000px) {
  /* Footer configs */
  .footer-container {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .fatec-contact {
    line-height: 30px;
  }

  .fatec-contact h1 {
    text-align: center;
  }

  .fatec-contact h2 {
    font-size: 1.6rem;
  }

  .fatec-contact h2 span {
    font-size: 1.6rem;
  }

  /* removendo icone */
  .input-container i {
    display: none;
  }

  /* tamanho fonte responsivo */
  .question-title {
    font-size: 2.4rem;
  }

  .content p {
    font-size: 2rem;
  }

  .keyword-content h1 {
    font-size: 3rem;
    font-weight: 500;
  }

  /* formulario */
  .keyword-container h1 {
    font-size: 3.5rem;
    margin-top: 30px;
  }

  .keyword-container {
    height: auto;
    align-items: center;
    margin: auto;
  }

  #formulary #search-input {
    min-width: 300px;
    padding: 0 1rem;
  }

  .input-container i {
    display: none;
  }
}
