.container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid var(--preto-escuro);
  border-radius: 10px;
}

.loading {
  margin-bottom: 10px;
}

.container h1 {
  margin-bottom: 60px;
  font-size: 3.2rem;
  color: var(--titulos);
  font-weight: 700;
  text-align: center;
}

/* Formulario */
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

form #nome,
form #email,
form #senha,
form #confirmarSenha {
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 2rem;
  color: var(--titulos);
}

.senha,
.confirmarSenha {
  display: flex;
  position: relative;
}

.eye-container {
  cursor: pointer;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.eye {
  font-size: 20px;
}

form input {
  width: 450px;
  height: 60px;
  padding: 0 20px;

  font-size: 2.4rem;
  font-weight: 400;
  color: var(--preto-escuro);

  border-color: var(--cinza-texto);
  border-width: 1px;
  border-radius: 10px;
  outline-color: var(--cinza-texto);
}

form input.erro {
  border-color: var(--vermelho-base);
  outline-color: var(--vermelho-base);
}

form input::placeholder {
  color: var(--cinza-texto);
}

form input.erro::placeholder {
  color: var(--vermelho-base);
}

.submit {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.submit button {
  width: 100%;
  padding: 15px 0;

  border-radius: 10px;
  border: 2px solid var(--azul-destaque);
  background-color: var(--azul-destaque);

  font-weight: 500;
  font-size: 2.4rem;
  color: var(--preto-escuro);

  transition: background-color 0.2s ease-in-out;
}

.submit button:hover {
  background-color: transparent;
  border: 2px solid var(--azul-destaque);
}

.submit button:active {
  transform: scale(0.95);
}

.submit span.erro {
  display: inline-block;
  color: var(--vermelho-base);

  font-size: 14px;
  font-weight: 500;
}

.info {
  margin-top: 30px;
  max-width: 450px;
  text-align: center;

  font-weight: 500;
  font-size: 2rem;
  color: var(--vermelho-base);
}

@media (max-width: 800px) {
  .container {
    max-width: 90%;
  }

  form input {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .container {
    border: none;
  }
}
