.container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid var(--preto-escuro);
  border-radius: 10px;
}

.container h1 {
  margin-bottom: 60px;
  font-size: 3.2rem;
  color: var(--titulos);
  font-weight: bold;
}

/* Formulario */
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

form #email,
form #senha {
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 2rem;
  color: var(--titulos);
}

form input {
  width: 450px;
  height: 60px;
  padding: 0 20px;

  font-size: 2.4rem;
  font-weight: normal;
  color: var(--preto-escuro);

  border-color: var(--cinza-texto);
  border-width: 2px;
  border-radius: 10px;
}

form input::placeholder {
  color: var(--cinza-texto);
}

form button {
  padding: 15px 0;

  border-radius: 10px;
  border: 2px solid var(--azul-destaque);
  background-color: var(--azul-destaque);

  font-weight: 500;
  font-size: 2.4rem;
  color: var(--preto-escuro);
}

form button:hover {
  background-color: transparent;
  border: 2px solid var(--azul-destaque);

  transition: background-color 0.2s ease-in-out;
}

form button:active {
  transform: scale(0.95);
}

.info {
  margin-top: 30px;
  max-width: 450px;
  text-align: center;

  font-weight: 500;
  font-size: 2rem;
  color: var(--vermelho-base);
}

@media (max-width: 800px) {
  .container {
    max-width: 90%;
  }

  form input {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .container {
    border: none;
  }
}
