body {
  max-width: 1920px;
  margin: 0 auto;
  padding-right: 30px;

  display: flex;
  gap: 30px;

  background-color: var(--cinza-fraco);
}

main {
  max-width: 1580px;
  width: 100%;
  min-height: 100%;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header {
  background-color: var(--prata-base);
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  border-radius: 10px;
}

.header .grupo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header .grupo h1 {
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--titulos);
}

.header .grupo i {
  font-size: 1.6rem;
  color: var(--cinza-texto);
}

.header .subgrupo,
.header .subgrupo a {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--preto-fraco);

  display: flex;
  align-items: center;
  gap: 10px;
}

.header .subgrupo a {
  color: var(--cinza-texto);
}

.header .usuario {
  display: flex;
  position: relative;
}

.header .usuario .foto {
  height: 70px;
}

.header .usuario .foto img {
  height: 100%;
  border-radius: 100%;
}

.header .nome {
  display: flex;
  flex-direction: column;
}

.header .usuario {
  display: flex;
  align-items: center;
  gap: 15px;

  color: var(--cinza-texto);
}

.header .usuario .nome span:first-of-type {
  font-weight: 500;
  font-size: 2.4rem;
}

.header .usuario .nome span + span {
  font-size: 1.6rem;
  font-weight: normal;
}

.header .usuario i {
  font-size: 2.4rem;
  cursor: pointer;
}

.header .usuario i.ativo {
  transform: rotate(180deg);
}

.header .usuario .dropdown {
  user-select: none;
  position: absolute;
  top: 100%;
  left: 40px;
  z-index: 1;
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: 0 0 10px 10px;
  border-top: none;
  background-color: var(--prata-base);
  font-weight: 500;
  display: none;
}

.header .usuario .dropdown.ativo {
  display: flex;
  animation-name: dropdownFadeIn;
  animation-duration: 0.5s;
}

@keyframes dropdownFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header .usuario .dropdown a {
  color: var(--cinza-texto);
}

.criar-conta {
  background-color: var(--prata-base);
  border-radius: 10px;
  padding: 0 40px;

  display: flex;
  flex-direction: column;
}

.criar-conta .titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 0;
  cursor: pointer;
}

.criar-conta .titulo h1 {
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--titulos);
}

.criar-conta .titulo i {
  cursor: pointer;
  font-size: 32px;
  color: var(--titulos);
}

.criar-conta .titulo i.aberto {
  transform: rotate(180deg);
}

.criar-conta form {
  display: flex;
  flex-direction: column;

  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.criar-conta form.aberto {
  padding-bottom: 30px;
  max-height: 1000px;
  transition: all 0.3s ease-in;
}

.criar-conta form label {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--vermelho-base);
  margin-bottom: 5px;
}

.criar-conta form input {
  margin-bottom: 30px;
  width: 600px;

  font-size: 2.4rem;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid var(--cinza-texto);
  color: var(--preto-escuro);
}

.criar-conta form button[type='submit'] {
  padding: 15px 40px;
  border-radius: 10px;
  border: none;

  font-size: 2.4rem;
  font-weight: 500;
  color: var(--preto-escuro);
  background-color: var(--azul-destaque);

  align-self: flex-start;
}

.criar-conta form button[type='submit']:active {
  transform: scale(0.95);
}

@media (max-width: 1500px) {
  .criar-conta .titulo h1 {
    font-size: 2.6rem;
  }

  .criar-conta .titulo i {
    font-size: 28px;
  }

  .criar-conta form label {
    font-size: 2rem;
  }

  .criar-conta form input {
    font-size: 1.8rem;
  }
}

.pesquisar-por {
  background-color: var(--prata-base);
  border-radius: 10px;
  padding: 30px 40px;

  display: flex;
  flex-direction: column;
}

.pesquisar-por .titulo h1 {
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--titulos);
  margin-bottom: 30px;
}

.pesquisar-por form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pesquisar-por .opcoes {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pesquisar-por .opcoes .opcao {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pesquisar-por .opcoes .opcao label {
  user-select: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--cinza-texto);
}

/* Para não pegar os inputs do colaboladores */
.pesquisar-por .input > input {
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid var(--cinza-texto);

  font-size: 2.4rem;
  font-weight: 400;
  color: var(--preto-escuro);
}

.pesquisar-por .input {
  display: none;
}

.pesquisar-por .input.ativo {
  display: block;
}

.pesquisar-por .input #id {
  width: 300px;
}

.pesquisar-por .input #titulo {
  width: 100%;
}

.pesquisar-por .usuarios {
  margin: 30px 0 15px 0;
  display: flex;
  align-items: center;

  gap: 20px;

  flex-wrap: wrap;
}

.pesquisar-por .usuarios .usuario {
  width: 200px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.pesquisar-por .usuarios .usuario label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pesquisar-por .usuarios .usuario label span {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--preto-escuro);
}

.pesquisar-por form button[type='submit'] {
  display: flex;
  align-self: flex-start;

  padding: 15px 40px;
  border-radius: 10px;
  border: none;

  font-size: 2.4rem;
  font-weight: 500;
  color: var(--preto-escuro);
  background-color: var(--azul-destaque);
}

.pesquisar-por form button[type='submit']:active {
  transform: scale(0.95);
}

.pesquisar-por form button[type='submit'].nao-mostrar {
  display: none;
}

@media (max-width: 1500px) {
  .pesquisar-por .titulo h1 {
    font-size: 2.6rem;
  }
}

.dados {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 40px;
  border-radius: 10px;
  background-color: var(--prata-base);
}

.dados .titulo h1 {
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--titulos);
}

@media (max-width: 1500px) {
  .dados .titulo h1 {
    font-size: 2.6rem;
  }
}

table {
  border-collapse: collapse;
  width: 100%;

  display: none;
}

table.mostrar {
  display: table;
}

th,
td {
  border-bottom: 1px solid var(--cinza-fraco);
  padding: 15px 0;
  text-align: left;
}

td:not(:last-of-type) {
  padding-right: 30px;
}

th {
  padding: 0px;
  padding-bottom: 20px;
}

th span {
  cursor: pointer;

  display: flex;
  white-space: nowrap;

  font-size: 2rem;
  font-weight: 500;
  color: var(--cinza-texto);
}

th:not(:last-child) span {
  margin-right: 30px;
}

th span i {
  font-size: 16px;
  color: var(--cinza-texto);
  margin-left: 10px;
}

td {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--preto-escuro);
}

td #id {
  font-size: 2rem;
}

td #colaborador {
  display: flex;
  align-items: center;
  gap: 10px;
}

td #colaborador .nome {
  display: flex;
  flex-direction: column;
}

td button {
  padding: 10px;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 10px;
  border: none;
}

td.cargo.administrador button {
  background-color: var(--vermelho-escuro);
  color: var(--prata-base);
}

td.cargo.moderador button {
  background-color: var(--azul-base);
  color: var(--prata-base);
}

td.cargo.colaborador button {
  background-color: var(--preto-fraco);
  color: var(--prata-base);
}

td.suspenso button {
  padding: 10px 30px;
}

td.suspenso.sim button {
  background-color: var(--vermelho-escuro);
  color: var(--prata-base);
}

td.suspenso.nao button {
  background-color: var(--preto-fraco);
  color: var(--prata-base);
}

td.acao {
  width: 100%;
}

td.acao div {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

td.acao button {
  background-color: var(--azul-base);
  color: var(--prata-base);
}

td.acao button:active {
  transform: scale(0.95);
}

td.acao button + button {
  background-color: var(--vermelho-escuro);
}

.avatar {
  width: 50px;
  height: 50px;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.paginacao {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  font-size: 2rem;
  font-weight: 500;
}

.paginacao.nao-mostrar {
  display: none;
}

.paginacao .pg {
  color: var(--titulos);
  cursor: pointer;
}

.paginacao .pg.disabled {
  color: var(--cinza-texto);
  cursor: not-allowed;
}

.paginacao .numeros {
  display: flex;
  gap: 10px;
  color: var(--cinza-texto);
}

.paginacao .numeros .numero {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--cinza-texto);
  border-radius: 6px;
}

.paginacao .numeros .numero.active {
  background-color: var(--vermelho-base);
  color: var(--prata-base);
  border: 1px solid var(--vermelho-base);
}
