body {
  max-width: 1920px;
  margin: 0 auto;
  padding-right: 30px;

  display: flex;

  background-color: var(--cinza-fraco);
}

.painel-lateral {
  margin-right: 30px;
}

main {
  max-width: 1580px;
  width: 100%;
  min-height: 100%;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header {
  background-color: var(--prata-base);
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  border-radius: 10px;
}

.header .grupo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header .grupo h1 {
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--titulos);
}

.header .grupo i {
  font-size: 1.6rem;
  color: var(--cinza-texto);
}

.header .subgrupo,
.header .subgrupo a {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--preto-fraco);

  display: flex;
  align-items: center;
  gap: 10px;
}

.header .subgrupo a {
  color: var(--cinza-texto);
}

.header .usuario {
  display: flex;
  position: relative;
}

.header .usuario .foto {
  height: 70px;
}

.header .usuario .foto img {
  height: 100%;
  border-radius: 100%;
}

.header .nome {
  display: flex;
  flex-direction: column;
}

.header .usuario {
  display: flex;
  align-items: center;
  gap: 15px;

  color: var(--cinza-texto);
}

.header .usuario .nome span:first-of-type {
  font-weight: 500;
  font-size: 2.4rem;
}

.header .usuario .nome span + span {
  font-size: 1.6rem;
  font-weight: 400;
}

.header .usuario i {
  font-size: 2.4rem;
  cursor: pointer;
}

.header .usuario i.ativo {
  transform: rotate(180deg);
}

.header .usuario .dropdown {
  user-select: none;
  position: absolute;
  top: 100%;
  left: 40px;
  z-index: 1;
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: 0 0 10px 10px;
  border-top: none;
  background-color: var(--prata-base);
  font-weight: 500;
  display: none;
}

.header .usuario .dropdown.ativo {
  display: flex;
  animation-name: dropdownFadeIn;
  animation-duration: 0.5s;
}

@keyframes dropdownFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header .usuario .dropdown a {
  color: var(--cinza-texto);
}

.cards {
  display: flex;
  gap: 30px;
}

.cards .card {
  width: 350px;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  background-color: var(--prata-base);
}

.cards .card .icon {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--azul-destaque);
  border-radius: 100%;
}

.cards .card .icon i {
  font-size: 28px;
  color: var(--prata-base);
}

.cards .card .icon.prioridade {
  background-color: var(--vermelho-fraco);
}

.cards .card .icon.prioridade i {
  color: var(--vermelho-base);
}

.cards .card .info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cards .card .info .numero {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--preto-escuro);
}

.cards .card .info .descricao {
  font-size: 2rem;
  font-weight: 400;
  color: var(--cinza-texto);
}

.dados {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 40px;
  border-radius: 10px;
  background-color: var(--prata-base);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border-bottom: 1px solid var(--cinza-fraco);
  padding: 15px 0;
  text-align: left;
}

th {
  padding: 0px;
  padding-bottom: 20px;
}

th span {
  cursor: pointer;
  user-select: none;

  display: flex;
  white-space: nowrap;

  font-size: 2rem;
  font-weight: 500;
  color: var(--cinza-texto);
}

th:not(:last-child) span {
  margin-right: 30px;
}

th span i {
  font-size: 16px;
  color: var(--cinza-texto);
  margin-left: 10px;
}

td {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--preto-escuro);
}

td #id {
  font-size: 2rem;
}

td #colaborador {
  display: flex;
  align-items: center;
  gap: 10px;
}

td #colaborador .nome {
  display: flex;
  flex-direction: column;
}

td .avatar {
  width: 50px;
  height: 50px;
}

td .avatar img {
  width: 100%;
  border-radius: 100%;
}

td #pergunta {
  min-width: 200px;
  padding-right: 10px;
}

td #prioridade {
  user-select: none;

  padding: 10px 20px;
  border-radius: 10px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
}

td #prioridade.alta {
  background-color: var(--vermelho-fraco);
  color: var(--vermelho-base);
}

td #prioridade.normal {
  background-color: var(--azul-fraco);
  color: var(--azul-base);
}

td #criacao,
td #edicao {
  color: var(--cinza-texto);
}

td #acao {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

td #acao i {
  font-size: 24px;
  cursor: pointer;
}

td #acao .fa-pencil {
  color: var(--azul-base);
}

td #acao .fa-trash-can {
  color: var(--vermelho-base);
}

.paginacao {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  font-size: 2rem;
  font-weight: 500;
}

.paginacao .pg span {
  color: var(--titulos);
  cursor: pointer;
}

.paginacao .pg span.disabled {
  color: var(--cinza-texto);
  cursor: not-allowed;
}

.paginacao .numeros {
  display: flex;
  gap: 10px;
  color: var(--cinza-texto);
}

.paginacao .numeros .numero {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--cinza-texto);
  border-radius: 6px;
}

.paginacao .numeros .numero.active {
  background-color: var(--vermelho-base);
  color: var(--prata-base);
  border: 1px solid var(--vermelho-base);
}

.spinnerContainer {
  display: none;
  justify-content: center;
  margin: 20px 0;
}

.spinnerContainer.mostrar {
  display: flex;
}
