body {
  max-width: 1920px;
  margin: 0 auto;
  padding-right: 30px;

  display: flex;
  gap: 30px;

  background-color: var(--cinza-fraco);
}

main {
  max-width: 1580px;
  width: 100%;
  min-height: 100%;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header {
  background-color: var(--prata-base);
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  border-radius: 10px;
}

.header .grupo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header .grupo h1 {
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--titulos);
}

.header .grupo i {
  font-size: 1.6rem;
  color: var(--cinza-texto);
}

.header .subgrupo,
.header .subgrupo a {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--preto-fraco);

  display: flex;
  align-items: center;
  gap: 10px;
}

.header .subgrupo a {
  color: var(--cinza-texto);
}

.header .usuario {
  display: flex;
  position: relative;
}

.header .usuario .foto {
  height: 70px;
}

.header .usuario .foto img {
  height: 100%;
  border-radius: 100%;
}

.header .nome {
  display: flex;
  flex-direction: column;
}

.header .usuario {
  display: flex;
  align-items: center;
  gap: 15px;

  color: var(--cinza-texto);
}

.header .usuario .nome span:first-of-type {
  font-weight: 500;
  font-size: 2.4rem;
}

.header .usuario .nome span + span {
  font-size: 1.6rem;
  font-weight: normal;
}

.header .usuario i {
  font-size: 2.4rem;
  cursor: pointer;
}

.header .usuario i.ativo {
  transform: rotate(180deg);
}

.header .usuario .dropdown {
  user-select: none;
  position: absolute;
  top: 100%;
  left: 40px;
  z-index: 1;
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: 0 0 10px 10px;
  border-top: none;
  background-color: var(--prata-base);
  font-weight: 500;
  display: none;
}

.header .usuario .dropdown.ativo {
  display: flex;
  animation-name: dropdownFadeIn;
  animation-duration: 0.5s;
}

@keyframes dropdownFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header .usuario .dropdown a {
  color: var(--cinza-texto);
}

.cards {
  display: flex;
  gap: 30px;
}

.editar-pergunta {
  background-color: var(--prata-base);
  border-radius: 10px;
  padding: 30px 40px;

  display: flex;
  flex-direction: column;
}

.editar-pergunta .titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editar-pergunta .titulo h1 {
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--titulos);
}

.editar-pergunta form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.editar-pergunta form label {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--vermelho-base);
  margin-bottom: 5px;
}

.editar-pergunta form input,
.editar-pergunta form textarea {
  font-size: 2.4rem;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid var(--cinza-texto);
  color: var(--preto-escuro);
}

.editar-pergunta form label[for='resposta'] {
  margin-top: 30px;
}

.editar-pergunta form textarea {
  margin-bottom: 30px;
  resize: none;
  height: 400px;
}

.editar-pergunta form div:last-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editar-pergunta form .prioridade {
  display: flex;
  align-items: center;
  gap: 10px;
}

.editar-pergunta form .prioridade label {
  margin-bottom: 0;
}

.editar-pergunta form .prioridade input {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;

  font-size: 2rem;
  font-weight: 700;
  background-color: transparent;
}

.editar-pergunta form .prioridade input.normal {
  color: var(--azul-base);
  background-color: var(--azul-fraco);
}

.editar-pergunta form .prioridade input.alta {
  color: var(--vermelho-base);
  background-color: var(--vermelho-fraco);
}

.editar-pergunta form .botoes {
  display: flex;
  align-items: center;
  gap: 30px;
}

.editar-pergunta form button {
  padding: 15px 40px;
  border-radius: 10px;
  border: none;

  font-size: 2.4rem;
  font-weight: 500;
  color: var(--preto-escuro);
  background-color: var(--azul-destaque);
}

.editar-pergunta form button#voltar {
  background-color: var(--cinza-texto);
  color: var(--prata-base);
}

.editar-pergunta form button:active {
  transform: scale(0.95);
}

.editar-pergunta form button.disabled,
.editar-pergunta form button#voltar.disabled {
  background-color: var(--cinza-fraco);
  color: var(--cinza-texto);
  cursor: not-allowed;

  transform: none;
}

@media (max-width: 1500px) {
  .editar-pergunta .titulo h1 {
    font-size: 2.6rem;
  }

  .editar-pergunta form label {
    font-size: 2rem;
  }
}

td #prioridade {
  cursor: pointer;
  user-select: none;

  padding: 10px 20px;
  border-radius: 10px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
}

td #prioridade.alta {
  background-color: var(--vermelho-fraco);
  color: var(--vermelho-base);
}

td #prioridade.normal {
  background-color: var(--azul-fraco);
  color: var(--azul-base);
}
