body {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

main {
  width: 100%;
  justify-content: center;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 80vh;
}

.container {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  padding: 0 2rem;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.content a {
  color: var(--vermelho-base);
  font-style: italic;
}

.drop {
  transition: transform 0.4s ease-in-out;
}

.drop.rotate {
  transform: rotate(180deg);
}

.content p {
  font-size: 2.4rem;
  font-weight: 300;
  color: var(--preto-escuro);
  padding: 0 1rem;
}

.content p:nth-child(2) {
  color: var(--cinza-texto);
  font-size: 2rem;
  margin-top: 5px;
}

.faq-container {
  font-size: 2rem;
  border-radius: 20px;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.faq-container h2 > i {
  font-size: 25px;
}

.question-title {
  color: var(--titulos);
  font-size: 3.2rem;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 5px;
}

.question-title .drop {
  margin-left: 5px;
}

.spinnerContainer {
  display: none;
}

.spinnerContainer.mostrar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pg-container {
  flex: 1;
}

.paginacao {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  font-size: 2rem;
  font-weight: 500;
}

.paginacao.nao-mostrar {
  display: none;
}

.paginacao .pg span {
  color: var(--titulos);
  cursor: pointer;
}

.paginacao .pg span.disabled {
  color: var(--cinza-texto);
  cursor: not-allowed;
}

.paginacao .numeros {
  display: flex;
  gap: 10px;
  color: var(--cinza-texto);
}

.paginacao .numeros .numero {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--cinza-texto);
  border-radius: 6px;
}

.paginacao .numeros .numero.active {
  background-color: var(--vermelho-base);
  color: var(--prata-base);
  border: 1px solid var(--vermelho-base);
}

@media (max-width: 1000px) {
  .question-title {
    font-size: 2.8rem;
  }

  .content a,
  .content p {
    font-size: 2rem;
  }

  .content p:nth-child(2) {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .question-title {
    font-size: 2.5rem;
  }

  .content a,
  .content p {
    font-size: 1.6rem;
  }

  .content p:nth-child(2) {
    font-size: 1.2rem;
  }

  .faq-container h2 > i {
    font-size: 20px;
  }

  .paginacao {
    font-size: 1.6rem;
  }
}

@media (max-width: 425px) {
  .container {
    width: 95%;
  }

  .question-title {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .container {
    width: 100%;
  }

  .question-title {
    font-size: 1.8rem;
  }

  .content a,
  .content p {
    font-size: 1.4rem;
  }

  .content p:nth-child(2) {
    font-size: 1.2rem;
  }

  .faq-container h2 > i {
    font-size: 16px;
  }

  .paginacao {
    font-size: 1.2rem;
    gap: 10px;
  }

  .paginacao .numeros {
    gap: 5px;
  }
}
