body {
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  justify-content: center;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  max-width: 1300px;
  height: 100%;
  padding: 0 2rem;
  margin: 15px 0;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.content a {
  color: var(--vermelho-base);
  font-style: italic;
}

.drop {
  transition: transform 0.4s ease-in-out;
}

.drop.rotate {
  transform: rotate(180deg);
}

.content p {
  font-size: 2.4rem;
  font-weight: 300;
  color: var(--preto-escuro);
  padding: 1rem;
}

.content p:nth-child(2) {
  color: var(--cinza-texto);
  font-size: 2rem;
}

.faq-container {
  cursor: pointer;
  font-size: 2rem;
  border-radius: 20px;
  padding: 1rem 0;
}

.faq-container h2 > i {
  font-size: 25px;
}

.question-title {
  color: var(--titulos);
  font-size: 3.2rem;
  font-weight: 300;
}

.spinnerContainer {
  display: none;
}

.spinnerContainer.mostrar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pg-container {
  flex: 1;
}

.paginacao {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  font-size: 2rem;
  font-weight: 500;
}

.paginacao.nao-mostrar {
  display: none;
}

.paginacao .pg span {
  color: var(--titulos);
  cursor: pointer;
}

.paginacao .pg span.disabled {
  color: var(--cinza-texto);
  cursor: not-allowed;
}

.paginacao .numeros {
  display: flex;
  gap: 10px;
  color: var(--cinza-texto);
}

.paginacao .numeros .numero {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--cinza-texto);
  border-radius: 6px;
}

.paginacao .numeros .numero.active {
  background-color: var(--vermelho-base);
  color: var(--prata-base);
  border: 1px solid var(--vermelho-base);
}
