@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --vermelho-base: #b20000;
  --vermelho-escuro: #7e0000;
  --vermelho-fraco: #ffb5b5;
  --azul-base: #005c6d;
  --azul-fraco: #99efff;
  --azul-destaque: #00c1cf;
  --azul-secundario: #00e8e8;
  --titulos: #004854;
  --fatec-azul: #283337;
  --prata-base: #f8f8f8;
  --cinza-texto: #666666;
  --cinza-fraco: #dadada;
  --cinza-hover: #e6e6e6;
  --preto-escuro: #121313;
  --preto-fraco: #262b2d;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, sans-serif;
}

button {
  cursor: pointer;
}

/* Header */
header {
  width: 100vw;
  background-color: var(--cinza-fraco);
  z-index: 999;
  height: 80px;

  position: fixed;
  top: 0;
}

section {
  /* Pixel do height do header mais 40px de distancia */
  margin-top: 120px;
}

a {
  height: 100%;
  display: flex;
  align-items: center;

  font-size: 2.4rem;
  font-weight: 500;
  color: var(--titulos);
  text-decoration: none;
}

a:visited {
  color: var(--titulos);
}

a.active {
  color: var(--vermelho-escuro);
}

.header-content {
  margin: 0 auto;
  max-width: 1360px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 115px;
  margin-top: 7px;
  /*
    A logo tem um fundo transparente que nao fica legal mesmo pondo no centro
    Tive que fazer um ajuste tecnico para parecer que esta no centro
    no figma esta assim tambem
   */
}

.logo img {
  width: 100%;
}

.nav-items {
  display: flex;
  gap: 60px;
}

.login a {
  display: flex;
  flex-direction: column;
}

.login p + p {
  font-size: 1.2rem;
}

.header-content a:hover {
  color: var(--vermelho-escuro);
  transition: all 0.2s ease-in-out;
}
