@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --vermelho-base: #b20000;
  --vermelho-escuro: #7e0000;
  --vermelho-fraco: #ffb5b5;
  --azul-base: #005c6d;
  --azul-fraco: #99efff;
  --azul-destaque: #00c1cf;
  --azul-secundario: #00e8e8;
  --titulos: #004854;
  --fatec-azul: #283337;
  --prata-base: #f8f8f8;
  --cinza-texto: #666666;
  --cinza-fraco: #dadada;
  --cinza-hover: #e6e6e6;
  --preto-escuro: #121313;
  --preto-fraco: #262b2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
