@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-MediumItalic.ttf) format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --vermelho-base: #b20000;
  --vermelho-escuro: #7e0000;
  --vermelho-fraco: #ffb5b5;
  --azul-base: #005c6d;
  --azul-fraco: #99efff;
  --azul-destaque: #00c1cf;
  --azul-secundario: #00e8e8;
  --titulos: #004854;
  --fatec-azul: #283337;
  --prata-base: #f8f8f8;
  --cinza-texto: #666666;
  --cinza-fraco: #dadada;
  --cinza-hover: #e6e6e6;
  --preto-escuro: #121313;
  --preto-fraco: #262b2d;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, sans-serif;
}

button {
  cursor: pointer;
}
body {
  overflow-x: hidden;
}
/* Header */
header {
  width: 100vw;
  background-color: var(--cinza-fraco);
  z-index: 999;
  height: 80px;
  position: sticky;
  top: 0;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Menu Hamburger */
.menu-hamburger-content {
  display: none;
  position: absolute;
  right: 0;
  width: 30vw;
  min-width: 200px;
  text-align: center;
  border: 0.5px solid var(--preto-escuro);
  border-radius: 5px;
  background-color: var(--cinza-fraco);
}

.menu-hamburger-content.show {
  display: block;
  border: 1px solid black;
}

.menu-hamburger {
  display: none;
}

.menu-hamburger i {
  font-size: 25px;
}

a {
  height: 100%;
  display: flex;
  align-items: center;

  font-size: 2.4rem;
  font-weight: 500;
  color: var(--titulos);
  text-decoration: none;
}

a:visited {
  color: var(--titulos);
}

a.active {
  color: var(--vermelho-escuro) !important;
}

.header-content {
  margin: 0 auto;
  width: 80%;
  max-width: 1920px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 115px;
  margin-top: 7px;
  /*
    A logo tem um fundo transparente que nao fica legal mesmo pondo no centro
    Tive que fazer um ajuste tecnico para parecer que esta no centro
    no figma esta assim tambem
   */
}

.logo img {
  width: 100%;
}

.nav-items {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

.login a {
  display: flex;
  flex-direction: column;
}

.header-content a:hover {
  color: var(--vermelho-escuro);
  transition: all 0.2s ease-in-out;
}

@media (max-width: 1400px) {
  .header-content {
    max-width: 1300px;
  }
}

/*------------------------------------Footer------------------------------------*/
footer {
  background-color: var(--preto-fraco);
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 1rem;
  margin: 5rem auto 0 auto;
  max-width: 1920px;
  height: 210px;
}

.copyright {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1.6rem;
  padding: 1rem 3rem;
}

.fatec-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2.5rem;
}

.fatec-contact h1 {
  color: var(--prata-base);
}

.fatec-contact span {
  color: var(--prata-base);
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.fatec-contact h2 {
  color: var(--cinza-fraco);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.fatec-footer-logo {
  display: flex;
  align-items: center;
  min-height: 100%;
  min-height: 180px;
  flex: 1;
  justify-content: center;
}

.fatec-footer-logo img {
  max-height: 160px;
}

.cps-logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  min-height: 180px;
  gap: 2rem;
  margin-top: 4rem;
}

.cps-logo-footer .img-1 {
  display: block;
  text-align: center;
  height: 50px;
  width: 100%;
}

.cps-logo-footer .img-2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Media query footer and menu hamburger */
@media (max-width: 1000px) {
  /* responsividade navbar/menu hamburger */
  .menu-hamburger {
    display: block;
    position: relative;
    cursor: pointer;
  }

  .nav-items {
    display: none;
  }

  .login {
    display: none !important;
  }

  .menu-hamburger-content a {
    display: block;
    padding: 2rem 0;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-decoration: none;
  }

  .menu-hamburger-content a:hover {
    color: var(--vermelho-escuro);
  }

  .menu-hamburger-content a.active {
    background-color: #ddd;
  }
  /* tamanho fonte responsivo */
  .question-title {
    font-size: 2.4rem;
  }

  .content p {
    font-size: 2rem;
  }

  .keyword-content h1 {
    font-size: 3rem;
    font-weight: 500;
  }
  /* Footer configs */
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: auto;
  }

  .cps-logo-footer {
    margin-top: 0;
  }

  .fatec-contact {
    line-height: 30px;
    min-height: 180px;
  }

  .fatec-contact h1 {
    text-align: center;
  }

  .fatec-contact h2 {
    font-size: 1.6rem;
  }

  .fatec-contact h2 span {
    font-size: 1.6rem;
  }

  .cps-logo-footer {
    min-height: 180px;
    gap: 5rem;
  }

  .fatec-footer-logo {
    min-height: 180px;
  }
}

/* Painel Lateral */
.painel-lateral {
  position: sticky;
  height: 100vh;
  top: 0;
  bottom: 0;

  padding: 30px;

  min-width: 280px;
  background-color: var(--azul-base);

  font-size: 2rem;
  color: var(--prata-base);
  font-weight: 700;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.painel-lateral .titulo {
  font-size: 2.4rem;
  padding-bottom: 30px;
}

.painel-lateral div {
  display: flex;
  gap: 20px;
}

.painel-lateral .logo {
  width: 200px;
}

.painel-lateral .logo img {
  width: 100%;
}

.painel-lateral .icone {
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.painel-lateral div i {
  font-size: 24px;
  margin-right: 20px;
}

.painel-lateral .voltar i {
  transform: rotate(-90deg);
}

.painel-lateral div a {
  font-size: 2rem;
  color: var(--prata-base);
  font-weight: 700;
}

@media (max-width: 1500px) {
  .painel-lateral {
    padding-right: 0;
    min-width: 70px;
    transition: min-width 0.5s ease;
  }

  .painel-lateral .titulo {
    display: none;
  }

  .painel-lateral div a + a {
    display: none;
  }

  .painel-lateral .logo {
    display: none;
  }
}

/* ajuste no contato do footer */
@media (min-width: 1180px) {
  .fatec-contact {
    line-height: 3rem;
  }
}
